Unable to set multiple cookies in a single web request

According to [RFC6265 section 3](https://tools.ietf.org/html/rfc6265#section-3), the server should be able to set multiple cookies in a single web request.

> An origin server can include multiple Set-Cookie header fields in a single response.
...
> Origin servers SHOULD NOT fold multiple Set-Cookie header fields into a single header field.

`jester.nim#setCookie()` uses `setHeader()` which overwrites any previous Set-Cookie header.